/* Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Variable */
:root {
  /* color */
  /* Primary color */
  --color-primary: #007947;
  --color-primary-dark1: #005b35;
  --color-primary-dark2: #003d24;
  --color-primary-dark3: #001e12;
  --color-primary-light1: #33946c;
  --color-primary-light2: #66af91;
  --color-primary-light3: #99c9b5;

  /* Secondary Color */
  --color-secondary: #9bcc50;
  --color-Secondary-dark1: #74993c;
  --color-Secondary-dark2: #4e6628;
  --color-Secondary-dark3: #273314;
  --color-secondary-light1: #afd673;
  --color-secondary-light2: #c3e096;
  --color-secondary-light3: #d7ebb9;

  /* font Color */
  --color-font-dark: #000000;
  --color-font-light1: #cce4da;
  --color-font-light2: #ebf5dc;

  --color-white: #ffffff;

  /* font */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Quicksand", sans-serif;
}

/* Reset Browser */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--color-primary) !important;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  font-size: 1.6rem;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px */
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
}
img {
  max-width: 100%;
}

/* Custom Scrallbar */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
::-webkit-scrollbar-thumb {
  color: var(--color-primary);
}

/* Custom CSS design */
h1 {
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 3.2rem;
  color: var(--color-primary);
}
h2 {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  line-height: 3.2rem;
}
h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}
h5 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}
p {
  font-size: 1.6rem;
  color: var(--color-font-dark);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
select{
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.navbar-brand img {
  height: 32px;
}
.main-btn {
  display: inline-block;
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--color-primary);
  border: 0.3rem solid var(--color-primary);
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.white-btn {
  display: inline-block;
  padding: 1rem 3rem;
  line-height: 2.5rem;
  background-color: var(--color-white);
  border: 0.3rem solid var(--color-white);
  color: var(--color-font-dark);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0, 0.19);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.cart-btn{
  display: inline-block;
  padding: .5rem 3rem;
  line-height: 2.5rem;
  background-color: var(--color-white);
  border: 0.3rem solid var(--color-white);
  color: var(--color-font-dark);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0, 0, 0, 0.19);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--color-primary);
}
.white-btn:hover {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.cart-btn:hover {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.wrapper {
  padding: 13.2rem 0;
}
.text-content {
  width: 70%;
  margin: auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color: var(--color-white);
}
.py-6{
  padding: 6rem 0;
}
/* 
=================================
Header Design 
================================= 
*/
.navbar-nav {
  align-items: center;
}
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
  padding: 0 1rem;
  transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-primary);
  letter-spacing: 1px;
}
.nav-link:focus{
  color: var(--color-secondary);
}
.navigation-wrap .main-btn {
  padding: 0.5rem 2.3rem;
  box-shadow: none;
  margin-left: 1rem;
}
.navigation-wrap .white-btn {
  padding: 0.5rem 2.3rem;
  margin-left: 1rem;
}
/* Scroll Fix Navbar */
.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-white);
  box-shadow: 0 0.2rem 2.8rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}

@media (max-width: 991px) {
  /* Nav bar */
  .navigation-wrap {
    text-align: center;
    background-color: var(--color-white);
  }
  .navigation-wrap .nav-link {
    line-height: 3rem;
  }
}


/* 
====================
Card design
====================
*/

.img-container{
  max-width: 300px;
  max-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-main{
  color: var(--color-primary);
}
