{% extends '../base.html' %} 
{% load static %} 
{% block title %}{{category.name}}{% else %}Products{% endif %}
{% endblock %} 



{% block content %}

{% comment %} Product Card Section {% endcomment %}
<section id="Products" class="bg-light py-6">
  <div class="container-lg">
    <div class="text-center py-5">
      <h2>{{category.name|title}}</h2>
      <p class="lead text-muted">Choose Your Desired Attire</p>
    </div>

    <div class="row my-5 align-items-center justify-content-center">
      {% for product in products %}
      <div class="col-8 col-lg-4 my-5 col-xl-3">
        <div class="card">
        <a href="{{ product.get_absolute_url }}">
          <img
            class="card-img-top"
            alt="Responsive image"
            src="{{ product.image.url }}"
          />
          </a>
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                class="text-dark text-decoration-none"
                href="{{ product.get_absolute_url }}"
                >{{ product.title }}</a
              >
            </h4>
            <p class="lead card-subtitle">{{ product.discription|slice:":40" }}</p>
            <p class="display-5 my-4 fw-bold color-main">{{ product.price }} BDT</p>
            {% if product.in_stock == True %}
            <p class="my-4">In Stock</p>
            {% else %}
            <p class="my-4">Out of Stock</p>
            {% endif %}
            
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="main-btn">
                Add to cart
              </button>
              <button type="button" class="white-btn" onclick="location.href='{{ product.get_absolute_url }}'">
                Viwe product
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
